
#recipe-instruction-counter {
    display: inline;
}

#recipe-name-creation {}

#recipe-ingredients-creation {}

#recipe-ingredients-creation > div > div > div {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

#recipe-instruction-creation {
   margin-top : 1em;
}

#recipe-instruction-creation > div > div > div {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

#recipe-creation-button {
    margin-top: 3%;
}

.element {
@include clearfix;
}
