
#create-recipe-form {
    margin-bottom: 10%;
}

/* general panels */

#recipe-top-panel{
    margin-bottom: 1em;
}

#recipe-ingredients-panel {
    margin-bottom: 1em;
}

#recipe-instruction-panel {
    margin-bottom: 1em;
}

/* add-button-panels */

#recipe-ingredients-add {
    margin-bottom: 1em;
}

#recipe-instruction-add {
    margin-bottom: 1em;
}

/* validation message */

.validation-message {
    margin: 2px;
}

/* distance between ingredient/instruction text and their fields */

#recipe-top-panel > div {
    margin-right: 0.1em;
}

#recipe-ingredients-panel > div > div > div {
    margin-top: -0.5em;
    margin-right: -0.5em;
}

#recipe-instruction-panel > div > div > div {
    margin-top: -0.5em;
    margin-right: -0.5em;
}

/* recipe button */

#recipe-button {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* clearfix after every field*/

.element {
 @include clearfix;
}




