<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="recipe" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="recipes" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="name" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="recipeIngredientType" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="recipeIngredientTypes" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="acceptedIngredient" type="at.kuchel.model.Recipe"*/-->
<!--/*@thymesVar id="acceptedIngredients" type="at.kuchel.model.Recipe"*/-->


<head>
    <title>Rezept erstellen</title>
    <link rel="stylesheet" href="/resources/css/create-recipe.css"/>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <form autocomplete="off" action="#" th:action="@{/recipes}" th:object="${recipe}" method="post"
          class="form-horizontal"
          role="form">

        <h1>Rezept erstellen</h1>


        <div id="recipe-name-creation" class="col-xs-4">
            <!-- Rezeptname -->
            <h4>Rezeptname</h4>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
            <input type="text" th:field="*{name}" placeholder="Apfelkuchen" class="form-control"/>
        </div>

        <div class="clearfix"></div>

        <div id="recipe-ingredients-creation" class="container">
            <!-- Zutaten erstellen -->
            <h4>Zutaten</h4>
            <button type="submit" class="btn btn-success" th:method="get" name="addRowIngredient">Zutat hinzufügen
            </button>

            <!-- Zutatenfelder hinzufügen -->
            <div th:each="recipeIngredient : ${recipe.recipeIngredients}">
                <div class="form-inline">
                    <input th:field="*{recipeIngredients[__${recipeIngredientStat.index}__].quantity}"
                           type="text" th:value="${recipeIngredient.quantity}" th:placeholder="Menge"
                           class="form-control"/>

                    <input list="qualifier" class="form-control" placeholder="Stück"
                           th:field="*{recipeIngredients[__${recipeIngredientStat.index}__].qualifier}"/>
                    <datalist id="qualifier">

                        <option
                                th:each="recipeIngredientType : ${recipeIngredientTypes}"
                                th:value="${recipeIngredientType}"
                                th:text="${recipeIngredientType}">
                        </option>
                    </datalist>

                    <input list="acceptedIngredients" class="form-control" placeholder="Apfel"
                           th:field="*{recipeIngredients[__${recipeIngredientStat.index}__].ingredient.name}"/>
                    <datalist id="acceptedIngredients">
                        <option
                                th:each="acceptedIngredient : ${acceptedIngredients}"
                                th:value="${acceptedIngredient.name}"
                                th:text="${acceptedIngredient.name}">
                        </option>
                    </datalist>

                    <button type="submit" class="btn btn-warning" name="removeRowIngredient"
                            th:value="${recipeIngredientStat.index}">entfernen
                    </button>
                </div>
            </div>
        </div>

        <div id="recipe-instruction-creation" class="container">
            <!-- Anweisungen erstellen -->
            <h4>Beschreibung</h4>
            <button type="submit" class="btn btn-success" th:method="get" name="addRowInstruction">Schritte hinzufügen
            </button>

            <!-- Anweisungsfelder hinzufügen -->
            <div th:each="instruction : ${recipe.instructions}">
                <div class="form-inline">
                   <!--  <p id="recipe-instruction-counter" th:text="${instructionStat.index+1} + ')'"></p> -->
                    <textarea cols="70" type="text"
                              th:field="*{instructions[__${instructionStat.index}__].instruction}"
                              th:value="${instruction.instruction}"
                              th:placeholder="Anweisung" class="form-control"></textarea>

                    <button type="submit" class="btn btn-warning" name="removeRowInstruction"
                            th:value="${instructionStat.index}">entfernen
                    </button>
                </div>
            </div>
        </div>

        <div id="recipe-creation-button">
            <button type="submit" th:method="post" class="btn btn-primary btn-block">Rezept erstellen</button>
        </div>

    </form>

</div>
</body>
</html>
