<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Liste</title>
    <div th:replace="../fragments/head :: head"></div>
</head>

<body>

<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Aussteigen</button>
</form>

<h1>User Liste</h1>
<table border="1">
    <thead>
    <tr>
        <th th:text="Username"/>
        <th th:text="Password"/>
        <th th:text="Birthday"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <td th:text="${user.birthday}"/>
    </tr>
    </tbody>
</table>

<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>
