<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div id="image-container">
        <img th:src="@{/resources/images/lunch.jpg}" id="kuchel-front-logo" class="img-responsive" alt="Logo"/>
        <div id="centered-image-text">Kuchel</div>
    </div>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading">Login</h3>

        <input type="text" id="username" name="username" th:placeholder="Benutzername" class="form-control"/> <br/>
        <input type="password" th:placeholder="Passwort" id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Benutername oder Password stimmen nicht überein</p>
        </div>
        <span th:utext="${successMessage}"></span>
        <button class="btn btn-primary btn-block" name="Submit" value="Anmelden" type="Submit" th:text="Anmelden"></button>
    </form>
</div>
</body>
</html>