<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Liste</title>
    <div th:replace="../fragments/head :: head"></div>
</head>
<body>
<div th:replace="../fragments/header :: header"></div>
<div align="center" th:if="${param.error}">
    <p style="font-size: 20; color: #FF1C19;">Benutername oder Password stimmen nicht überein</p>
</div>

<div class="container">
    <h1>Alle Rezepte</h1>
    <div th:each="recipe : ${recipes}">
        <a th:href="@{/recipes/__${recipe.id}__}" th:text="${recipe.name}"/>
        <!--@{/mycontroller/} + ${type}">-->

    </div>
</div>
</body>
</html>
