<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>User Liste</title>
    <link rel="stylesheet" href="/resources/css/recipes-listed.css"/>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Alle Rezepte</h1>

    <div id="recipe-overview-panel" th:if="${!#lists.isEmpty(recipes)}" class="row">
        <div class="col-md-5"><h4 class="text-center">Rezept</h4></div>
        <div class="col-md-2"><h4 class="text-center">Dauer</h4></div>
        <div class="col-md-2"><h4 class="text-center">Schwierigkeit</h4></div>
        <div id="recipe-buttons-panel" th:each="recipe : ${recipes}">
            <!-- picture -->
            <div class="col-md-5"><a class="btn btn-default btn-sm" th:href="@{/recipes/__${recipe.id}__}" th:text="${recipe.name}"></a></div>
            <div class="col-md-2"><p class="text-center" th:utext="${recipe.getDuration() + ' min'}"></p></div>
            <div class="col-md-2"><p class="text-center" th:utext="${recipe.getDifficulty() + ' von 5'}"></p></div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(recipes)} and ${personaloverview == true}">
        <p>Sieht so aus, als wären noch keine Rezepte von dir vorhanden :(</p>
        <a class="btn btn-primary btn-lg btn-success" href="/recipes/new">Neues Rezept erstellen</a>
    </div>

</div>
</body>
</html>
