<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registrierungsformular</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post"
          class="form-horizontal" role="form">

        <h2>Registrierungsformular</h2>

        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
               class="validation-message"></label>
        <input type="text" th:field="*{username}" placeholder="Name"
               class="form-control"/>

        <input type="password" th:field="*{password}"
               placeholder="Password" class="form-control"/> <label
            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
            class="validation-message"></label>

        <button type="submit" class="btn btn-primary btn-block">Registrieren</button>

        <span th:utext="${successMessage}"></span>
    </form>
</div>

</body>
</html>