<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="header">

    <div class="navbar navbar-fixed-top">
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <div class="navbar-header">
                    <li class="active"><a class="navbar-brand" href="/dashboard">Kuchel</a></li>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#">Neuigkeiten</a></li>
                    <li><a href="/recipes">Suche</a></li>
                    <li><a href="#">Über uns</a></li>
                    <li><a sec:authorize="isAnonymous()" href="/"><font color="#d9d4dc">Meine Rezepte</font></a></li>
                    <li><a sec:authorize="isAuthenticated()" href="#">Meine Rezepte</a></li>
                    <li><a sec:authorize="isAnonymous()" href="/"><font color="#d9d4dc">Neues Rezept</font></a></li>
                    <li><a sec:authorize="isAuthenticated()" href="/recipes/new">Neues Rezept</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()"><a>  <span sec:authentication="name"> Logged user:</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/registration"><span class="glyphicon glyphicon-registration-mark"></span> Registration</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/h2"><span class="glyphicon glyphicon-floppy-disk"></span>H2</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>